<footer class="footer py-3 bg-light fixed-bottom offset-1">
  <div class="container-fluid">
    <div class="row" style="margin-left: auto">
      <div class="col-auto" *ngIf="possuiCooperado">
        <button class="btn btnCor border text-white rounded-0">
          <strong> Iniciar nova admissão </strong>
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btnCorInvertido border rounded-0">
          <strong> Dicas para admissão </strong>
        </button>
      </div>
    </div>
  </div>
</footer>
