<nav
  class="navbar navbar-light bg-light fixed-top justify-content-md-right position-absolute offset-1"
  aria-label="site angular"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a class="navbar-brand h1">NOVA ADMISSÃO COOPERADO</a>
      </div>
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Cadastro</li>
            <li class="breadcrumb-item active">Admissão do Cooperado</li>
            <li class="breadcrumb-item active">Nova Admissão de Cooperado</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <i class="fs-4 mb-3 bi bi-bell p-2 bgCor"></i>
        <button
          class="btn btn-outline-primary bgCor btn-sm rounded-pill p-2 h4 font-weight-bold"
        >
          VIACREDI
        </button>

        <i class="fs-4 mb-3 bi bi-person-circle p-2 bgCor"></i>
      </div>
    </div>
  </div>
</nav>
