<div class="col">
  <div class="card card-boddy rounded-0">
    <div class="px-3 h6" style="margin-top: 5%">
      <strong> Conta Corrente </strong>
    </div>
    <p class="px-3 text-secondary"><small>Cooperativa Viacredi</small></p>
    <div class="px-3">
      <i class="bi bi-credit-card text-secondary"></i
      ><small class="text-secondary px-2">Número da conta</small>
      <br />
      <div class="px-4">
        {{ cooperado?.contaCorrente.numeroContaCorrente }}
      </div>
    </div>
    <div class="p-3 mb-4">
      <a class="text-decoration-none" href="#"
        >Duplicar conta<span class="sr-only"></span
      ></a>
    </div>
  </div>
</div>
